<%- include("header") -%>
<div class="card-result">
    <p style="font-weight: 680;">current weather is <%= detail %></p>
    <h1>temperature is <%= temperature %> degree</h1>
    <img src=<%= image %>></div>
</div>

<%- include("footer") -%>